table, td, th{
	border: 0px;
	background-color: #EEE;
}
body{
	font-family: helvetica;
	background-color: #CCC;
}

a{
	text-decoration: none;
}
a::hover{
	text-decoration: none;
	color: #00DD00
}

table{
	width:100%;
	text-align: center;
	border-collapse: collapse;
}

p{
	font-size: 18px;
}
.opener{
	font-size: 32px;
	background-color: #CCC;
}

.news {
  text-decoration: none;
}
.news:hover{
	color: #000000;
}
.navbar {
  overflow: hidden;
  background-color: #baaac5;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 22px 27px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #000;
  padding: 22px 27px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #78439d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #baaac5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(200,200,200,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #78439d;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  background-color: #8a5c78;
}
/* 	78439d is purple 
	baaac5 is purplish gray
	5f3f53 is purplish brown
	7a526b is purplish light brown
	1e1d3a is blueish black
	baaac5 is green
	2d2800 is greenish brown
	80addb is light blue
	d8ae5a is skin tone
	000a19 is dark blue black
	dcb4aa is pinkish skin tone
*/
.dropdown .dropbtnactive{
  height: "100%";
  font-size: 16px;  
  border: none;
  outline: none;
  color: #000;
  padding: 22px 27px;
  background-color: #8a5c78;
  font-family: inherit;
  margin: 0;
}
.blank{
	background-color: #CCC;
}
.navbar .nopad{
	padding: 6px 6px;
}
.navbar .r{
  float: right;
  font-size: 16px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
